.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
}

/* typo end */
* {
  margin: 0;
  padding: 0;
}

/* shared styles start */
.orange {
  color: rgba(254, 163, 1, 1);
}
.skyblue {
  color: rgba(1, 172, 253, 1);
}
.black {
  color: rgba(17, 17, 17, 1);
}
.lightblue {
  color: rgb(95, 183, 224);
}
.violet {
  color: rgb(116, 95, 211);
}
.btn-primary {
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 12px;
  font-size: 20px;
  padding: 10px 50px;
}

/* header section */
.max-width {
  max-width: 1090px;
  margin: 0 auto;
}
header {
  background-color: rgba(255, 255, 255, 1);
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.items {
  display: flex;
  gap: 30px;
}
.items li {
  font-size: 20px;
  font-weight: 500;
  list-style: none;
}

.nav-btn {
  background-color: rgba(254, 163, 1, 1);
}

.menubar {
  display: none;
}
.menubar > div {
  display: none;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
hr {
  display: none;
  border: 0.5px solid var(--Orange, rgba(254, 163, 1, 1));
}
/* responsive navbar */

@media screen and (max-width: 576px) {
  .nav-container {
    margin-left: 20px;
    margin-right: 20px;
  }
  .menubar {
    display: block;
  }
  .menubar > div {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  .items {
    display: none;
  }
  .contact-btn {
    display: none;
  }
  .logo > h2 {
    display: none;
  }
  hr {
    display: block;
    margin-top: 15px;
  }
}

/* header section end  */

/* banner section start */
.banner {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-top: 34px;
  margin-bottom: 60px;
}
.banner-content > h2 {
  font-size: 50px;
}
.banner-content p {
  font-size: 18px;
  margin: 24px 0;
}
.banner-btn {
  background-color: rgba(17, 17, 17, 1);
}

/* responsive banner  */
@media screen and (max-width: 576px) {
  .banner {
    flex-direction: column-reverse;
    margin: 0 20px;
    margin-top: 30px;
  }
  .banner-content > h2 {
    font-size: 30px;
  }
  .banner-content p {
    font-size: 14px;
    margin: 18px 0;
  }
  .banner-img img {
    width: 100%;
  }
  .banner-content {
    text-align: center;
    margin: 0 auto;
  }
}

/* banner section end  */

/* card section start  */
.card {
  background-image: url("../assets/bg.png");
  background-size: 100% auto;
  background-repeat: repeat-y;
}
.card > h2 {
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 80px;
}
.cards {
  display: flex;
  gap: 30px;
  margin-bottom: 80px;
}
.card-box1 {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  border: 0.94px solid rgba(222, 245, 255, 1);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
    180deg,
    rgba(222, 245, 255, 1),
    rgba(255, 255, 255, 0) 40%
  );
}
.card-box1 h4 {
  font-size: 22px;
  margin: 30px 0;
}
.card-box2 h4 {
  font-size: 22px;
  margin: 30px 0;
}
.card-box3 h4 {
  font-size: 22px;
  margin: 30px 0;
}
.card-box1 p {
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 30px;
}
.card-box2 p {
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 30px;
}
.card-box3 p {
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 30px;
}
.card-box1 h6 {
  font-size: 16px;
}
.card-box2 h6 {
  font-size: 16px;
}
.card-box3 h6 {
  font-size: 16px;
}
.card-box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  border: 0.94px solid rgba(255, 244, 220, 1);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
    180deg,
    rgba(255, 244, 220, 1),
    rgba(255, 255, 255, 0) 40%
  );
}

.card-box3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  border: 0.94px solid rgba(242, 232, 255, 1);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
    180deg,
    rgba(238, 225, 255, 1),
    rgba(255, 255, 255, 0) 40%
  );
}

/* responsive card section  */
@media screen and (max-width: 576px) {
  .card h2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .cards {
    flex-direction: column;
    gap: 20px;
    margin: 0 20px;
  }
}
/* card section end  */
/* .icon-1 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: var(--Orange, rgba(254, 163, 1, 1));
} */

/* story section start */

marquee {
  color: rgba(254, 163, 1, 1);
  font-size: 24px;
  font-weight: 600;
}
.story-bg {
  background-image: url("../assets/bg.png"),
    linear-gradient(
      0deg,
      rgba(184, 126, 26, 0.3),
      rgba(255, 255, 255, 0.3) 100%
    );
  background-repeat: repeat-y;
  background-size: 100% auto;
}
.story h2 {
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 80px;
}
.story-container {
  display: flex;
  gap: 20px;
}
.story-box-1 {
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
  width: 50%;
}
.story-box-1 img {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
}
.story-btn button {
  position: relative;
  top: -23px;
}
.story-box-1 h3 {
  font-size: 22px;
  margin: 20px 0;
  font-weight: 700;
  margin-left: 30px;
  width: 80%;
}

.story-box-1 p {
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  padding-bottom: 30px;
  width: 80%;
  line-height: 25px;
  margin-left: 30px;
}

.story-btn button {
  border: none;
  border-radius: 20px;
  color: white;
  background-color: rgba(60, 216, 232, 1);
  padding: 15px 25px;
  margin-left: 30px;
}
.stories {
  display: grid;
  width: 50%;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.story-1 {
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
}
.story-1 img {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
  background: rgba(255, 255, 255, 1);
}
.story-1 h3 {
  font-size: 16px;
  margin: 30px;
  margin-top: 15px;
}
.btn {
  text-align: center;
  padding: 70px 0;
}
.btn-stories {
  background-color: black;
  text-align-last: center;
}

/* responsive story section */

@media screen and (max-width: 576px) {
  .story-box-1 {
    display: none;
  }
  .stories {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0 20px;
  }
  .story-1 h3 {
    font-size: 10px;
    margin: 18px;
  }
  .story-btn button {
    font-size: 10px;
    padding: 10px 15px;
    margin: 0 12px;
  }
}

/* story section end  */

/* footer section start  */
footer {
  background-color: rgba(1, 172, 253, 1);
}
.school-logo {
  display: flex;
  align-items: center;
  color: white;
}
.school-logo img {
  filter: brightness(120%);
}
.logo-description {
  margin-top: 30px;
  font-size: 14px;
  width: 300px;
}
.footer {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-top: 120px;
  padding-bottom: 180px;
}

.footer-items h2 {
  margin-bottom: 30px;
  font-weight: 700;
}
.footer-items h4 {
  margin-bottom: 20px;
  font-weight: 500;
}
.footer-media h2 {
  margin-bottom: 30px;
}

/* responsive footer section */
@media screen and (max-width: 576px) {
  .footer {
    flex-direction: column;
    padding: 60px 20px;
  }
  .logo-description {
    width: 100%;
    margin-bottom: 30px;
  }
}

/* footer section end  */

/* .arrow {
  color:red;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid green;
background: var(--Orange, rgba(254, 163, 1, 1));
} */
