.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
}

/* typo end */
* {
  margin: 0;
  padding: 0;
}

/* shared styles start */
body {
  max-width: 1350px;
  margin: 0 auto;
}
.orange {
  color: rgba(254, 163, 1, 1);
}
.skyblue {
  color: rgba(1, 172, 253, 1);
}
.black {
  color: rgba(17, 17, 17, 1);
}
.lightblue {
  color: rgb(95, 183, 224);
}
.violet {
  color: rgb(116, 95, 211);
}
.btn-primary {
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 12px;
  font-size: 20px;
  padding: 10px 50px;
}

/* header section */
.max-width {
  max-width: 1090px;
  margin: 0 auto;
}
header {
  background-color: rgba(255, 255, 255, 1);
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.items {
  display: flex;
  gap: 30px;
}
.items li {
  font-size: 20px;
  font-weight: 500;
  list-style: none;
}

.nav-btn {
  background-color: rgba(254, 163, 1, 1);
}

.menubar {
  display: none;
}
.menubar > div {
  display: none;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
hr {
  display: none;
  border: 0.5px solid var(--Orange, rgba(254, 163, 1, 1));
}
/* responsive navbar */

@media screen and (max-width: 576px) {
  .nav-container {
    margin-left: 20px;
    margin-right: 20px;
  }
  .menubar {
    display: block;
  }
  .menubar > div {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  .items {
    display: none;
  }
  .contact-btn {
    display: none;
  }
  .logo > h2 {
    display: none;
  }
  hr {
    display: block;
    margin-top: 15px;
  }
}

/* header section end  */

/* banner section start */
.banner {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-top: 34px;
    margin-bottom: 60px;
}
.banner-content>h2 {
    font-size: 50px;
}
.banner-content p {
    font-size: 18px;
    margin: 24px 0;
}
.banner-btn {
    background-color: rgba(17, 17, 17, 1);
}

/* responsive banner  */
@media screen and (max-width: 576px) {
    .banner {
        flex-direction: column-reverse;
        margin: 0 20px;
        margin-top: 30px;
    }
    .banner-content>h2 {
    font-size: 30px;
}
.banner-content p {
    font-size: 14px;
    margin: 18px 0;
}
    .banner-img img {
        width: 100%;
    }
    .banner-content {
        text-align: center;
        margin: 0 auto;
    }
}

/* banner section end  */